<div class="body">
  <div class="big-title">
    <h1>Mapas</h1>
  </div>
  <div class="game-map">
    <h2>Grieta del Invocador</h2>
    <img src="{{ map }}" alt="" />
    <p>{{ mapInformation }}</p>
    <h2>El Bosque Retorcido</h2>
    <img src="{{ twistedMap }}" alt="">
    <p>{{ twistedMapInfo }}</p>
    <h2>La Camara de Magma</h2>
    <img src="{{ magmaMap }}" alt="">
    <p>{{ magmaInfo }}</p>
    <h2>Cicatriz de Cristal "Dominio"</h2>
    <img src="{{ dominionMap }}" alt="">
    <p>{{ dominionInfo }}</p>
  </div>
</div>
