<div class="buscador-container">
  <div class="center">
    <h1>Buscador de Campeones</h1>
    <mat-divider></mat-divider>
    <br />
  </div>

  <div class="center">
    <mat-form-field appearance="fill">
      <input
        type="text"
        placeholder="Nombre del campeón"
        aria-label="Number"
        matInput
        [formControl]="buscarCampeon"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let campeon of campeonesBuscados"
          [value]="campeon.name"
          (click)="seleccionandoCampeon(campeon.id)"
        >
          {{ campeon.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div
    class="center"
    fxLayout="row"
    *ngIf="campeonSeleccionado && buscarCampeon.dirty"
  >
    <div
      fxFlex.xs="100"
      fxFlex.sm="40"
      fxFlex.lt-md="30"
      fxFlex="25"
      class="card"
    >
      <app-campeon-tajerta
        [campeon]="campeonSeleccionado"
      ></app-campeon-tajerta>
    </div>
  </div>

  <div *ngIf="campeonesBuscados.length === 0 && buscarCampeon.dirty">
    <div class="mensaje-error" fxLayout="column">
      <h1>
        No hemos encontrado ningun campeón con el nombre
        <b>"{{ buscarCampeon.value }}"</b>, intenta con otro nombre
      </h1>
      <h3>Estos campeones podrian interesarte</h3>
      <div>
        <button class="retro" (click)="pushingRandomChampions()">Otros Campeones</button>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <div
        fxFlex.xs="100"
        fxFlex.sm="50"
        fxFlex.lt-md="50"
        fxFlex="25"
        *ngFor="let champion of randomChampionsCard"
      >
        <app-campeon-tajerta [campeon]="champion"></app-campeon-tajerta>
      </div>
    </div>
  </div>
</div>
