<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            ir a Login
        </a>
    </li>

    <li>
        <a routerLink="/auth/registro">
            ir a Registro
        </a>
        
    </li>
    <li>
        <a routerLink="/campeones/listado">
            ir a Listado
        </a>
        
    </li>
    <li>
        <a routerLink="/campeones/buscar">
            Buscar
        </a>
        
    </li>
    <li>
        <a routerLink="/campeones/campeon">
            ir a Campeon
        </a>
        
    </li>
</ul>


