body {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.title-animado {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  .letra {
    transition: 0.4s;
    transform: translatex(0);
    cursor: grab;
    color: rgb(13, 13, 13);
    font-size: 80px;
    font-weight: 800;
  }

  .letra:hover {
    transform: translateY(-1rem);
    background: rgb(194, 143, 44);
    background: linear-gradient(
      0deg,
      rgb(194, 143, 44) 50%,
      rgb(194, 144, 44) 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(194, 143, 44);
  }
}

@media (max-width: 790px) {
  .title-animado {
    .letra {
      font-size: 40px; /* Adjust the font size as needed */
    }
  }
}

@media (max-width: 550px) {
  .title-animado {
    .letra {
      font-size: 30px; /* Adjust the font size as needed */
    }
  }
}

@media (max-width: 430px) {
  .title-animado {
    .letra {
      font-size: 20px; /* Adjust the font size as needed */
    }
  }
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-bottom: auto;
  background-color: white;
}


// section {
//   display: flex;
//   justify-content: center;
//   width: 776.95px;
//   height: 430px;

//   img {
//     width: 0px;
//     flex-grow: 1;
//     object-fit: cover;
//     opacity: 0.8;
//     transition: 0.5s ease;
//   }

//   img:hover {
//     cursor: grab;
//     width: 300px;
//     opacity: 1;
//     filter: contrast(120%);
//   }
// }
section {
  display: flex;
  justify-content: center;

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 100%;
      max-width: 550px;
      flex-grow: 1;
      object-fit: cover;
      opacity: 0;
      transition: opacity 0.5s ease;

      &.show-image {
        opacity: 1;
      }
    }
  }
}

/* Add a media query for screens wider than 790px */
@media (min-width: 790px) {
  section {
    .image-container {
      img {
        display: none;
      }

      img.show-image {
        display: block;
      }
    }
  }
}

@media (max-width: 790px) {
  section {
    .image-container {
      img {
        display: none;
      }

      img.show-image {
        display: block;
      }
    }
  }
}


.champion-info {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}
