<body>
  <div class="container">
    <div class="title-animado">
      <div class="letra">E</div>
      <div class="letra">S</div>
      <div class="letra">C</div>
      <div class="letra">O</div>
      <div class="letra">G</div>
      <div class="letra">E</div>
      <br />
      <br />
      &nbsp; &nbsp; &nbsp;
      <div class="letra">T</div>
      <div class="letra">U</div>
      <br />
      <br />
      &nbsp; &nbsp; &nbsp;
      <div class="letra">C</div>
      <div class="letra">A</div>
      <div class="letra">M</div>
      <div class="letra">P</div>
      <div class="letra">E</div>
      <div class="letra">O</div>
      <div class="letra">N</div>
    </div>

    <section>
      <img
        src="../../../../assets/img/imagenes-portada/ezreal-portada.png"
        alt=""
      />
      <img
        src="../../../../assets/img/imagenes-portada/jayce-portada.png"
        alt=""
      />
      <img
        src="../../../../assets/img/imagenes-portada/lee-sin-portada.png"
        alt=""
      />
      <img
        src="../../../../assets/img/imagenes-portada/morgana-portada.png"
        alt=""
      />
      <img
        src="../../../../assets/img/imagenes-portada/zed-portada.png"
        alt=""
      />
    </section>
  </div>
</body>
