mat-sidenav-container {
 position: relative;


  .div-centrado {
    position: relative; // Position the div absolutely within the container
    top: 35%; // Move it 50% down from the top edge
    left: 45%; // Move it 50% from the left edge
    transform: translate(-50%, -50%); // Center it exactly
  }

  .logo-image {
    max-width: 45px;
    height: auto;
  }
}

// mat-toolbar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   .div-centrado {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-grow: 1;
//   }

//   .logo-image {
//     max-width: 45px;
//     height: auto;
//   }
// }
.mat-toolbar.mat-primary {
  background: #10180c;
  color: #fff;
}

.background {
    background-color: #ffffff;
    padding-top: 20px;
}


